body {
    background: url('http://i.imgur.com/Eor57Ae.jpg') no-repeat fixed center center;
    background-size: cover;
    font-family: Montserrat;
}

.container {
    padding: 15px 30px;
    margin: 10vh auto !important;
    width: 90vw !important;
    height: 70vh;
    border: 1px solid rgba(218, 168, 168, 0.61);
    border-radius: 10px;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    background-color: #65c8cc;
}

#box{
    max-height: 65vh;
    overflow-y: scroll;
    height: inherit;
}

#inputComponents{
    text-align: center;
    margin-top: 50px;
}

#inputComponents input{
    width: 40%;
}

#inputComponents #answerInputField {
    color: white;
}

#inputComponents #sendButton {
    margin-left: 55px !important;
}

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background-color: #72b4b3;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
}

::-webkit-scrollbar-button {
    background-color: #7c2929;
}







